<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">index</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:index' %}">main:index</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:form_create' %}">main:form_create</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:result' %}">main:result</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:table' %}">main:table</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:list_main' %}">main:list_main</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:datetime_nov' %}">main/datetime_nov</a>
</ul>
