<ul class="nav">
    <li class="nav-item"><a class="nav-link" href="{% url 'main:index' %}">main:index</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:datetime_nov' %}">main:datetime_nov</a>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:list_dict' %}">main:list_dict</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:form_create' %}">main:form_create</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:form_result' %}">main:form_result</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'main:table' %}">main:table</a></li>
</ul>
